table td{
    border: 1px solid white;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 300px;
    
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:red;
    font-size: 30px;
    height: 400px;
    width: 500px;
    margin: auto;
    
}
button{
    color: black;
    border-radius: 15px;
    font-size: 15px;
    background-color: none;

}
