table td{
    border: 2px solid #76e2d6;
    width: 100px;
    height: 100px;
    text-align: center;
   
    
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:#d576e2;
    font-size: 30px;
    height: 700px;
    width: 500px;
    margin-top: 100px;
    margin-left: 650px;
    background-color: black;
    
}
button{
    color: #d576e2;
    border-radius: 15px;
    font-size: 15px;
    background-color: #76e2d6;
    border: none;

}
